<div>
	<p>Cifrado C&eacute;sar</p>
	<form action="/process" method="post">
	<label>Texto:</label>
	<input type="text" required name="texto"/></br></br>
	<label>Desfase:</label>
	<input type="number" required name="desfase"/></br></br>
	<input type="submit" name="code" value="codificar" />
	<input type="submit" name="decode" value="descifrar" />
	</form>
</div>
